<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Playlister</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="main">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/artists">Artists</a></li>
        <li><a href="/songs">Songs</a></li>
        <li><a href="/genres">Genres</a></li>
        <li><a href="/song/new">New Song</a></li>
      </ul>
    </nav>
    <%= yield %>
  </div>
</body>
</html>