<form action="/song/new/process" method="POST">
  <label>Artist name: </label> <input type="text" name="artist" autofocus> <br>
  <label>Song name: </label> <input type="text" name="song"> <br>
  <label>Genre name: </label> <input type="text" name="genre"> <br>
  <input type="submit" value="Submit new song">
</form>